<ul class="navbar-nav content-item-group">
  <a routerLink="/">
    <div class="content">
                <span class="content-title">
                    ضامن
                </span>
    </div>
  </a>
  <hr>
  <li class="content-list-item">
    <a routerLink="/" >
      <i class="fa fa-tachometer"></i>
      <span class="content-list">
                    داشبرد
                </span>
    </a>
  </li>
  <hr>
  <div class="subHeader">
    <p>مدیریت</p>
  </div>
  <li class="content-list-item">
    <a routerLink="/deposit">
      <i class="fa fa-bank"></i>
      <span class="content-list">
                    مدیریت صندوق
                </span>
    </a>
  </li>
  <li class="content-list-item">
    <a routerLink="/transAction">
      <i class="fa fa-exchange"></i>
      <span class="content-list">
                    مدیریت تراکنش
                </span>
    </a>
  </li>
  <li class="content-list-item">
    <a routerLink="/user" class="custom-dropdown" (click)="openDropdown()">
      <i class="fa fa-user"></i>
      <span class="content-list">
                    مدیریت کاربران
                </span>
    </a>
  </li>
  <hr>
  <div class="subHeader">
    <p>داده</p>
  </div>
  <li class="content-list-item">
    <a href="">
      <i class="fa fa-file"></i>
      <span class="content-list">
                    گزارش
                </span>
    </a>
  </li>
  <li class="content-list-item">
    <a href="">
      <i class="fa fa-table"></i>
      <span class="content-list">
                    جدول
                </span>
    </a>
  </li>
  <li class="content-list-item">
    <a href="">
      <i class="fa fa-envelope"></i>
      <span class="content-list">
                    پیام ها
                </span>
    </a>
  </li>
  <li class="content-list-item">
    <a href="">
      <i class="fa fa-support"></i>
      <span class="content-list">
                    پشتیبانی
                </span>
    </a>
  </li>
  <hr>
  <li class="content-list-item">
    <a href="">
      <i class="fa fa-sign-out"></i>
      <span class="content-list">
                    خروج
                </span>
    </a>
  </li>
</ul>
