<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card border-right-blue">
      <div class="card-body">
        <div class="card-context ml-auto">
          <div class="little-context"><span>درآمد ماهیانه</span></div>
          <div class="main-context"><span>1.5<span>B</span></span></div>
        </div>
        <div class="card-icon">
          <i class="fa fa-calendar fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card border-right-green">
      <div class="card-body">
        <div class="card-context ml-auto">
          <div class="little-context"><span>درآمد سالیانه</span></div>
          <div class="main-context"><span>45<span>B</span></span></div>
        </div>
        <div class="card-icon">
          <i class="fa fa-money fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card border-right-red">
      <div class="card-body">
        <div class="card-context ml-auto">
          <div class="little-context"><span>کل صندوق ها</span></div>
          <div class="main-context"><span>500<span></span></span></div>
        </div>
        <div class="card-icon">
          <i class="fa fa-google-wallet fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card border-right-yellow">
      <div class="card-body">
        <div class="card-context ml-auto">
          <div class="little-context"><span>کاربران</span></div>
          <div class="main-context"><span>5.3<span>K</span></span></div>
        </div>
        <div class="card-icon">
          <i class="fa fa-user fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
